{{ define "title" }} Моё расписание занятий {{ end }}
{{ define "content" }}
	{{if .Workouts}}
		<h2>{{ template "title" }}</h2>
		<a class="pure-button pure-button-primary" href="/trainers/create_workout" style="margin: 0 1em 1em 1em;">Добавить тренировку</a>
		<table class="pure-table">
			<thead class="pure-table thead">
				<tr style="border: 1px solid;">
					<th class="pure-table th">Временной интервал</th>
					<th class="pure-table th">Действие</th>
				</tr>
			</thead>
			{{range .Workouts}}
				<tr style="border: 1px solid;">
					<td>
						<b>Фамилия записавшегося(-йся):</b> {{.PersonLastname}} <br>
						<b>Время начала:</b> {{.StartTime}} <br>
						<b>Время окончания:</b> {{.EndTime}}
					</td>
					<td>
						<a class="pure-button pure-button-primary" data-method="delete" href="/workout/delete/{{.ID}}" style="margin: 0 1em 1em 1em;">Отменить тренировку</a>
					</td>
				</tr>
			{{end}}
		</table>
	{{else}}
		Не удалось загрузить расписание тренера
	{{end}}
{{ end }}
