{{ define "title" }} Создание тренировки {{ end }}
{{ define "content" }}
	<div style="max-width: 500px;">
		<form class="pure-form pure-form-stacked" method="POST" action="/trainers/create_workout">
			<fieldset>
				<legend><b>{{ template "title" }}</b></legend>
				<div class="pure-g">

					<div class="pure-u-1-1">
						<label>Дата начала тренировки
							<input style="display: inline;" type="date" name="start_date" required>
						</label>
						<label>Время начала тренировки
							<input style="display: inline;" type="time" name="start_time" required>
						</label>
					</div>
					<hr>
					<div class="pure-u-1-1">
						<label>Дата окончания тренировки
							<input style="display: inline;" type="date" name="end_date" required>
						</label>
						<label>Время окончания тренировки
							<input style="display: inline;" type="time" name="end_time" required>
						</label>
					</div>

				</div>

				<button type="submit" class="pure-button pure-button-primary">Создать</button>
			</fieldset>
		</form>
		<a class="pure-button pure-button-primary" href="/trainers">Назад</a>
	</div>
{{ end }}
